Makefile
/config.h
/config.log
/stamp-h*
/config.cache
/config.status
/.deps
/reprepro
/changestool
/rredtool
/*.o
/.deps
/build-*-stamp
/debian/files
/debian/reprepro.debhelper.*
/debian/reprepro.substvars
/debian/reprepro
/autom4te.cache/
/config.h.in~
/tests/.deps/
/tests/testpkgs/
/tests/testrepo/
