/aclocal.m4
/stamp-h.in
Makefile.in
/configure
/config.h.in
Makefile
/config.h
/config.log
/stamp-h*
/config.cache
/config.status
/debug.log
/.deps
/reprepro
/changestool
/rredtool
/*.o
/.deps
/old
/test
/ac
