Source: reprepro
Section: utils
Priority: optional
Maintainer: Bernhard R. Link <brlink@debian.org>
Build-Depends: debhelper (>= 9), dh-autoreconf, libgpgme-dev, libdb-dev, libz-dev, libbz2-dev, liblzma-dev, libarchive-dev, shunit2, db-util
Standards-Version: 4.2.0
Vcs-Browser: https://salsa.debian.org/brlink/reprepro
Vcs-Git: https://salsa.debian.org/brlink/reprepro.git -b debian

Package: reprepro
Architecture: any
Depends: ${shlibs:Depends}, ${reprepro:Depends}, ${misc:Depends}
Recommends: apt (>= 0.9.4)
Suggests: pinentry-curses, gnupg-agent, inoticoming, lzip (>= 1.11-2)
Description: Debian package repository producer
 reprepro is a tool to manage a repository of Debian packages
 (.deb, .udeb, .dsc, ...). It stores files either being
 injected manually or downloaded from some other repository
 (partially) mirrored into one pool/ hierarchy.
 Managed packages and files are stored in a Berkeley DB,
 so no database server is needed.
 Checking signatures of mirrored repositories and creating
 signatures of the generated Package indices is supported.
 .
 This package also contains the changestool and rredtool helpers.
